@model Lab2.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="post">
        <fieldset>
           

             
            @Html.ListBox("model", (MultiSelectList)ViewBag.SelectList)
           
          
            <input type="text" name="Name" />
            <input type="submit" value="Добавить" />
        </fieldset>
    </form>
</body>
</html>
