@model Lab2.Models.Dish
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
    </h3>
    
        <div class="pull-right">
         
            
           <p><a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-dishId="@Model.Id"> Добавить в корзину</a></p>
        </div>
    
    <span class="lead">@Model.Calories</span>
</div>